@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background: #ede8d0;
    --background-dark: #e7e0c0;
    --primary: #29937c;
    --hover: #176554;
    --red: #bd7373;
    --section-header-font-size: 3rem;
    --title-font-size: 12rem;
    --large-font-size: 1.4rem;
    --medium-font-size: 1.2rem;
    --small-font-size: 1rem;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: var(--primary);
    margin: 0;
}

html {
    font-family: "Funnel Sans", sans-serif;
    background-color: var(--background);
    scroll-behavior: smooth;
    text-align: center;
    font-size: var(--large-font-size);
}

#stack-title {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}

#card-container {
    width: 100vw;
    height: 100vh;
}

.card {
    width: 50rem;
    height: 30rem;
    padding: 1rem;
    border: 5px solid var(--primary);
    box-sizing: border-box;
    border-radius: 1rem;
    text-align: center;
    color: var(--primary);
    cursor: pointer;
    outline: none;
    align-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.75s;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    transform-style: preserve-3d;
}
.card #front,.card #back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.75s;
}
.card #front {
    z-index: 1;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden !important;
}
.card #back {
    z-index: 0;
    backface-visibility: visible;
}
.card.flipped {
    transform: rotateY(180deg) translate(50%, -50%) perspective(100rem);
}
.card.flipped #front, .card.flipped #back {
    transform: rotateY(180deg) translate(50%, -50%);
}

.card.prev {
    width: 25rem;
    height: 15rem;
    left: 0;
}

.card.next {
    width: 25rem;
    height: 15rem;
    left: 100%;
}

.card.prevprev {
    width: 25rem;
    height: 15rem;
    left: -50%;
}

.card.nextnext {
    width: 25rem;
    height: 15rem;
    left: 150%;
}

#home-button {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    width: 1rem;
    height: auto;
}

#settings-button {
    position: fixed;
    width: 1rem;
    height: auto;
    top: 0.5rem;
    left: calc(100% - 0.5rem);
    transform: translate(-100%, 0);
    cursor: pointer;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}

#settings-dropdown {
    position: fixed;
    display: inline-block;
}

#settings-dropdown-content {
    display: none;
    position: fixed;
    background-color: var(--background);
    min-width: 160px;
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    z-index: 1;
    top: 2rem;
    left: calc(100% - 0.5rem);
    transform: translate(-100%, 0);
    overflow: hidden;
}
#settings-dropdown-content:hover {
    display: block
}

#settings-dropdown-content a {
    color: var(--primary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid var(--primary);
}
#settings-dropdown-content a:last-child {
    border: none;
}
#settings-dropdown-content a:hover {
    background-color: var(--background-dark)
}
#delete-dropdown-button {
    color: var(--red) !important;
}

#settings-dropdown:hover #settings-dropdown-content, #settings-dropdown-content:hover {
    display: block;
}